<!-- Floating Elements Background -->
<app-floating-elements></app-floating-elements>

<!-- Hero Section -->
<app-hero></app-hero>

<!-- Cuenta Regresiva -->
<app-countdown></app-countdown>

<!-- trailer -->
<app-trailer></app-trailer>

<!-- Sobre el Juego -->
<app-about></app-about>

<!-- Personajes Principales -->
<app-characters></app-characters>

<!-- Newsletter Section -->
<app-newsletter></app-newsletter>

<!-- Equipo de Desarrollo -->
<app-team></app-team>

<!-- Footer -->
<app-footer></app-footer>
